.certifications-section {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
  
.certifications-list {
    margin-bottom: 20px;
}
  
.certification-item {
    display: flex;



    margin-bottom: 8px;
    border-radius: 4px;

}
  
.certification-actions {
    display: flex;
    gap: 8px;
}
  
form {
    margin-top: 15px;
}

.form-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}