.practical-experience {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.practical-experience h2 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

form label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

form label span {
  display: flex;
  width: 150px; 
  margin-right: 10px;
}

form textarea {
  flex: 1;
}

.experience-list {
  margin-bottom: 1rem;
}

.experience-item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.experience-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: black 2px solid;
  border-radius: 2px;
  padding: 20px;
  background-color: white;
}

.experience-actions {
  display: flex;
  gap: 0.5rem;
}

.experience-limit-message {
  color: #666;
  font-size: 0.9em;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}
