.display-section {
  background: #ffffff;
  display: flex;
  height: 29.7cm;
  width: 21cm;
}

.resume-display {
    width: 100%;
}

.resume-display h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
  .resume-display section h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #000000;
  }
  
  .resume-display p {
    margin: 5px 0;

  }
  
  .resume-display strong {
    font-weight: bold;
  }
  
.info-section {
    displaY: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #002f5a;
    padding: 20px;    
}

.side-container {
  display: flex;
  flex-direction: row;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.work-section, .edu-section, .custom-sections {
  margin-left: 20px;
}

.work-title, .edu-title, .custom-title, .cert-title, .skill-title {
  display: flex;
  justify-content: center;
  background-color: rgba(80, 80, 88, 0.26);
}

.work-info, .edu-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
}

.name-title-text, .info-text, .job-title-text {
  color:white;
}

.info-container {
  display: flex;
  flex-direction: row;
}

.time-container {
  display: flex;
  flex-direction: column;
  width: 150px;

}

.info-text {
    display: flex;
    justify-content: flex-end;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.name-title {
    display: flex;
    flex-direction: column;
    
}

.job-title-text {
    font-style:italic;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 20px 0 20px;
}

.cert-title {
  display: flex;
  justify-content: center;
}