.skills-section {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
  
  .skills-list {
    margin-bottom: 20px;
  }
  
  .skill-item {
    display:flex;
    margin-bottom: 8px;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: black 2px solid;
    border-radius: 2px;
    padding: 20px;
    background-color: white;
  }
  
  .skill-actions {
    display: flex;
    gap: 8px;
  }
  
  .skills-section button {
    display: flex;
  }