#root {
  width: 100svw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100svw;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  gap: 10px;
  padding: 20px;
  font-family: sans-serif;
}

.input-sections {
  display: flex;
  flex-flow: row wrap;
  width: 55%;
}

form {
  display: flex;
  flex-flow: column wrap;
}

form input {
  flex: 0 1 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-section {
  background: #f0f0f0;
  padding: 0 20px 20px 20px;
  color: black;
  display: flex;
  flex-flow: column wrap;
  width: 400px;
  margin: 20px;
  border-radius: 20px;
}

h2 {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: #474747;
}

p {
  color: black;
}

